@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap'); /*Fonte do título*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* TELA -- LOGIN */
.body-login {
    background-color: #6C9467;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#titulo {
    font-family: "Milonga", serif;
    color: #6C9467;
}

.titulo-login {
    font-size: 96px;
    font-weight: lighter;
}

.div-central {
    display: grid;
    grid-template-areas: 
    "div-titulo div-entradas";
    grid-template-columns: 1fr 1fr;
}

.div-titulo {
    background-color: white;
    text-align: center;
    padding: 25px;
}

.div-entradas {
    background-color: #354A2B;
    padding: 25px;
}

#a-login {
    color: white;
}

/* TELA -- PERFIL */

.body-perfil {
    background-color: #6C9467;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
}

.container-perfil {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #6C9467;
    padding: 40px;
    width: 400px;
}

.foto{
    display: flex;
    justify-content: center;
}

.dados-entrada-perfil{
    font-family: "ABeeZee", serif;
    color: #687661;
    text-align: center;
    align-items: center;
}

.dados-entrada-perfil p{
    margin: 0;
}

.dados-entrada-perfil p:first-child {
    font-weight: 600;
    font-size: 18px;
}

.dados-entrada-perfil p:last-child {
    font-size: 14px;
    opacity: 0.8;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    font-weight: bold;
}


.botoes button {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #6C9467;
    background-color: white;
    color: #6C9467;
    cursor: pointer;
    font-size: medium;
    font-family: "Poppins", serif;
    font-weight: bold;
}

.botoes button:hover {

    background-color: #687661;
    color: white;
    border-color: #687661;
}

.botoes a {
    display: block;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #6C9467;
    background-color: white;
    color: #6C9467;
    cursor: pointer;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none; 
}

.botoes a:hover {
    background-color: #687661;
    color: white;
    border-color: #687661;
}